@(author : Author, isbn : String, frm : Form[Book], errors : Set[services.ErrorClass], _token : String)

@import helper._

@layout(""){

<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-md-offset-2">

            <h3>Book</h3>
            <h1>EDIT</h1>
            <hr>

            @if(errors.size > 0){
            <div class="errors">
                <h4>Errors:</h4>
                <ul>
                    @for(error <- errors){
                    <li>@error.getMessage()</li>
                    }
                </ul>
            </div>
            <br>
            }

            <label>Author</label>
            <div class="form-group">
                <input type="hidden" name="id" value="@author.getId()">
                <input type="text" name="name" id="bookartisticName" value="@author.getArtisticName()" class="form-control" readonly>
            </div>
            <hr>

            @helper.form(action = routes.BookController.update(author.getId(), isbn), 'enctype -> "multipart/form-data"){
            <input type="hidden" value="@_token" id="token" name="token">

            <div class="form-group">
                <label for="">ISBN</label>
                @helper.inputText(frm("isbn"), '_label -> null, 'class -> "form-control", 'readonly -> "readonly")
            </div>

            <div class="form-group">
                <label for="">Title</label>
                @helper.inputText(frm("title"), '_label -> null, 'class -> "form-control")
            </div>

            <div class="form-group">
                <label for="">Price</label>
                @helper.inputText(frm("price"), '_label -> null, 'class -> "form-control")
            </div>

            <div class="form-group">
                <label>Picture</label>
                <a href="@routes.Assets.versioned("pictures/picture_book.jpg")">Current Image</a>
                <input type="file" id="picture" name="picture" class="form-control"><br>
            </div>

            <div class="form-group">
                <hr>
            </div>

            <!-- Actions -->
            <div class="form-group">
                <button type="button" class="btn btn-warning col-md-2 float-sm-right" data-toggle="modal" data-target="#modalEdit">EDIT</button>
                <a href="@routes.AuthorController.details(author.getId())" class="btn btn-default col-md-2 float-sm-right">Cancel</a>
                <button type="button" class="btn btn-danger col-md-2 float-sm-right" data-toggle="modal" data-target="#modalDelete">DELETE</button>
            </div>
            <!-- Actions -->

            <!-- modals -->
            <div id="modalEdit" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Do you want edit this book?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            <input type="submit" value="Yes" id="btnEdit" class="btn btn-warning">
                        </div>
                    </div>
                </div>
            </div>
            <div id="modalDelete" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <p>Do you want delete this book?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            <a href="@routes.BookController.delete(author.getId(), isbn)" class="btn btn-danger">Yes</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modals -->

            }
        </div>
    </div>
</div>
}

<script>

</script>